@model CalcoloViewModel

<div class="text-center">
    <h1 class="display-4">Calcolatore Stipendio</h1>
    <p>Inserisci i dettagli per calcolare il costo aziendale e lo stipendio netto.</p>


</div>

<div class="container">
    <form asp-controller="Home" asp-action="Calcolo" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="card p-3 uniform-card">
                    <div class="mt-3">
                        <label for="contratto"><strong>Tipologia di contratto</strong></label>
                        <select id="contratto" name="contratto" class="form-select">
                            <option value="indeterminato">Tempo indeterminato</option>
                            <option value="determinato">Tempo determinato</option>
                            <option value="aprendistato">Apprendistato</option>
                            <option value="aministratore">Collaboratore / Amministratore</option>
                        </select>
                    </div>

                    
                    <div class="mb-3 mt-3">
                        <strong>RAL</strong>
                        <input type="number" name="lordo" class="form-control" required />
                    </div>

                    <div class="mb-3 mt-3">
                        <strong>Agevolazione contributiva</strong><br />
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="agevolazione" value="Nessunaagevolazione" checked>
                            <label class="form-check-label"><strong>Nessuna</strong></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="agevolazione" value="Under30">
                            <label class="form-check-label"><strong>Under 30</strong></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="agevolazione" value="donna">
                            <label class="form-check-label"><strong>Donna</strong></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="agevolazione" value="Under50">
                            <label class="form-check-label"><strong>Under 50</strong></label>
                        </div>
                    </div>

                    <div class="mb-3 mt-3">
                        <strong>Detrazione fiscale</strong><br />
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="detrazione" value="Nessunadetrazione" checked>
                            <label class="form-check-label"><strong>Nessuna</strong></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="detrazione" value="inpatriati">
                            <label class="form-check-label"><strong>Bonus inpatriati</strong></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="detrazione" value="inpatriati(con figli)">
                            <label class="form-check-label"><strong>Bonus inpatriati (con figli)</strong></label>
                        </div>
                    </div>
                    <hr />
                    <div class="text-end mt-3">
                        <input type="submit" class="btn btn-dark w-100" value="Calcola">
                    </div>

                    <!-- Input nascosto per la mensilità -->
                    <input type="hidden" id="mensilita" name="mensilita" value="12" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="card p-3 uniform-card">
                    @if (Model != null)
                    {
                        <div class="mb-3">
                            <div class="btn-group w-100" role="group">
                                <button type="button" id="annualeBtn" class="btn btn-dark" onclick="toggleMensileOptions('annuale')">Annuale</button>
                                <button type="button" id="mensileBtn" class="btn btn-light" onclick="toggleMensileOptions('mensile')">Mensile</button>
                            </div>
                        </div>


                        <div id="mensileOptions" style="display:none; margin-top: 15px;">
                            <label for="mensilita"><strong>Seleziona le mensilità:</strong></label>
                            <div class="btn-group w-100" role="group">
                                <button type="button" class="btn btn-outline-secondary" value="12" onclick="updateResults(this.value)">12 Mensilità</button>
                                <button type="button" class="btn btn-outline-secondary" value="13" onclick="updateResults(this.value)">13 Mensilità</button>
                                <button type="button" class="btn btn-outline-secondary" value="14" onclick="updateResults(this.value)">14 Mensilità</button>
                            </div>
                        </div>

                        <div id="risultatiAnnuali">
                            <p><strong>Costo Azienda</strong><h3>€@Model.CostoTotale</h3> </p>
                            <hr />
                            <p><strong>Stipendio lordo</strong><h3>€@Model.Lordo</h3> </p>
                            <hr />
                            <p><strong>Stipendio netto</strong><h3>€@Model.Netto</h3></p>
                            <hr />
                        </div>

                        <!-- Visualizzazione Mensile -->
                        <div id="risultatiMensili" style="display:none; margin-top: 20px;">
                            <div id="risultatoMensile12" style="display: none;">
                                <p><strong>Stipendio lordo</strong><h3>€@Model.MeseLordo</h3> </p>
                                <hr />
                                <p><strong>Stipendio netto</strong><h3>€@Model.MeseNetto</h3> </p>
                                <hr />
                            </div>
                            <div id="risultatoMensile13" style="display: none;">
                                <p><strong>Stipendio lordo</strong><h3>€@Model.MeseLordo13</h3> </p>
                                <hr />
                                <p><strong>Stipendio netto</strong><h3>€@Model.MeseNetto13</h3> </p>
                                <hr />
                            </div>
                            <div id="risultatoMensile14" style="display: none;">
                                <p><strong>Stipendio lordo</strong><h3>€@Model.MeseLordo14</h3> </p>
                                <hr />
                                <p><strong>Stipendio netto</strong><h3> €@Model.MeseNetto14</h3></p>
                                <hr />
                            </div>
                        </div>
                    }
                    else
                    {
                        <p>Attendere il calcolo dei risultati.</p>
                    }
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function toggleMensileOptions(periodo) {
        var mensileOptions = document.getElementById("mensileOptions");
        var annualeBtn = document.getElementById("annualeBtn");
        var mensileBtn = document.getElementById("mensileBtn");
        var risultatiAnnuali = document.getElementById("risultatiAnnuali");
        var risultatiMensili = document.getElementById("risultatiMensili");

        if (periodo === "mensile") {
            mensileOptions.style.display = "block";
            mensileBtn.classList.remove("btn-light"); // Rimuovi la classe di stile "light"
            mensileBtn.classList.add("btn-dark"); // Aggiungi la classe di stile "dark"

            annualeBtn.classList.remove("btn-dark"); // Rimuovi la classe di stile "dark" dal bottone annuale
            annualeBtn.classList.add("btn-light"); // Aggiungi la classe di stile "light" al bottone annuale

            risultatiAnnuali.style.display = "none";
            risultatiMensili.style.display = "block";

            // Imposta il valore dell'input nascosto su 12
            document.getElementById("mensilita").value = "12";

            // Aggiorna i risultati per il valore predefinito di 12
            updateResults("12");
        } else {
            mensileOptions.style.display = "none";
            annualeBtn.classList.remove("btn-light"); // Rimuovi la classe di stile "light"
            annualeBtn.classList.add("btn-dark"); // Aggiungi la classe di stile "dark"

            mensileBtn.classList.remove("btn-dark"); // Rimuovi la classe di stile "dark" dal bottone mensile
            mensileBtn.classList.add("btn-light"); // Aggiungi la classe di stile "light" al bottone mensile

            risultatiAnnuali.style.display = "block";
            risultatiMensili.style.display = "none";
        }
    }




    function updateResults(mensilita) {
        // Logica per calcolare i risultati in base alla mensilità selezionata
        // Ad esempio, mostrerai i risultati in base a mensilita
        // Mostra e nascondi i risultati appropriati
        var risultatoMensile12 = document.getElementById("risultatoMensile12");
        var risultatoMensile13 = document.getElementById("risultatoMensile13");
        var risultatoMensile14 = document.getElementById("risultatoMensile14");

        risultatoMensile12.style.display = mensilita === "12" ? "block" : "none";
        risultatoMensile13.style.display = mensilita === "13" ? "block" : "none";
        risultatoMensile14.style.display = mensilita === "14" ? "block" : "none";
    }
</script>
<style>
    input[type="radio"].form-check-input:checked + .form-check-label:before {
        background-color: black; /* Colore di sfondo nero quando selezionato */
        border: 2px solid black; /* Colore del bordo */
    }
    .btn:focus {
        outline: none;
        box-shadow: none; 
    }
    .uniform-card {
        min-height: 100%; /* Uniform height for both cards */
    }

    .btn {
        width: 100%; /* Assicura che i bottoni occupino tutta la larghezza */
    }

    .btn-light {
        background-color: white; /* Colore di sfondo bianco */
        color: black; /* Colore del testo nero */
        border: 1px solid black; /* Bordo nero */
    }

    .btn-dark {
        background-color: black; /* Colore di sfondo nero */
        color: white; /* Colore del testo bianco */
        border: 1px solid black; /* Bordo nero */
    }

    .btn.active {
        background-color: black; /* Colore di sfondo nero per il bottone attivo */
        color: white; /* Colore del testo bianco per il bottone attivo */
    }
</style>
